/* logo animation */

.wineglass {
  height: 36px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 47px;
    top: 47px;
    left: 5px;
    width: 20px;
    height: 5px;
    background: white;
    box-shadow: 0 0 1px white;
  }
}

.wine_inside {
  background: white;
  width: 30px;
  height: 36px;
  border-radius: 0 0 36px 36px;
  box-shadow: 0 0 1px white;
  &:before {
    content: '';
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: linear-gradient(transparent 50%, #F36E3E 50%);
  }
}

.left .wine_inside:before {
  animation: rotate2 2s linear infinite;
}

.right .wine_inside:before {
  animation: rotate1 2s linear infinite;
}

.wine_inside:after {
  content: '';
  position: absolute;
  top: 35px;
  left: 12px;
  width: 6px;
  height: 13px;
  background: white;
  box-shadow: 0 0 1px white;
}

.left {
  display: inline-block;
  margin-right: 10px;
  animation: rotate1 2s cubic-bezier(0.39, 1.52, 0.46, 0.92) infinite;
}

.right {
  display: inline-block;
  animation: rotate2 2s cubic-bezier(0.39, 1.52, 0.46, 0.92) infinite;
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(22deg);
  }
}


@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-22deg);
  }
}